html {
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  	color: blue;
  	text-decoration-skip: ink;
  	-webkit-text-decoration-skip: ink;
}
::-moz-selection { /* Code for Firefox */
  	background: aliceblue;
}
::selection {
  	background: aliceblue;
}
body {
  	font-family: 'EB Garamond', serif;
  	line-height: 1.25;
  	letter-spacing: -0.05em;
  	background-color: snow;
  	color: #040129;
	margin: 0px;
	font-weight: 400;
}
.content {
 	margin: 3% calc(45.25% - 273.6px);
  	font-size: calc(0.5vw + 28.8px);
}
.menu {
  	padding: 1% calc(45.25% - 273.6px);
  	font-size: calc(0.5vw + 28.8px);
	background-color: white;
	border-bottom: 1px solid darkgray;
	position: fixed;
  	top: 0;
	width: 100%;
	z-index: 100;
	font-family: 'Poppins', sans-serif;
	text-align: justify; 
	text-decoration: none;
}
.menu a {
  	float: left;
	font-size: 50%;
	text-decoration: none;
	color: #040129;
	opacity: 75%;
}
.topnav-centered a {
  	float: none;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-decoration: none;
}
.topnav-right {
  	float: right;
}
@media only screen and (max-width: 640px) {
  	.content {
    		margin: 3% 2.5%;
    		font-size: 5vw;
	}
	.menu {
	 	padding: 3% 2.5%;
    		font-size: 5vw;
  	}
}
.headline {
  	text-align: center;
  	font-size: 225%;
  	margin-bottom: 0;
  	font-weight:500;
  	opacity: .75;
	margin-top: 15%;
}
.text {
  	text-align: center;
  	font-size: 150%;
	font-style: italic;
  	margin:.25em;
  	margin-bottom: .5em;
	margin-top: -.5em;
  	opacity: .75;
}
.homeimage {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	border-radius: 4%;
  	opacity: .95;
}

#timer {
  	text-align: center;
  	font-size: 100%;
  	font-weight: 400;
  	margin:1em;
  	opacity: .75;
}

.section-title {
	text-align: center;
  	font-size: 100%;
  	opacity: .75;
	margin-top: 0;
	margin-bottom: .5em;
	text-decoration: underline 1px;
	font-weight: 500;
	
}
.section-text {
	text-align: left;
  	font-size: 75%;
  	opacity: .75;
}

.schedule-day {
	font-family: 'EB Garamond', serif;
	font-style: italic;
	clear: left;	
}
.schedule-event {
	width: 50%;
 	float: left;
	font-family: 'EB Garamond', serif;
	padding-top: .25em;
	padding-bottom: .25em;
	font-weight:500;
	border-top: 1px solid darkgrey;
}
.schedule-description {
	width: 50%;
    	float: left;
	font-style: italic;
	border-left: 1px solid darkgrey;
	border-top: 1px solid darkgrey;
	padding-left: 1em;
	padding-top: .25em;
	padding-bottom: .25em;
}
.section-text::after {
  	content: "";
  	clear: both;
  	display: table;
}
.card {
	padding: .5em;
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 2em;
}
.footer {
	text-align: center;
  	font-size: 75%;
  	opacity: .75;
	border: 1px solid darkgrey;
	padding: .25em;
}
.accommodation-name {
	font-family: 'EB Garamond', serif;
	font-style: italic;
	clear: left;	
	border-bottom: 1px solid darkgrey;
	font-weight: 500;
}
.accommodation-description {
	width: 60%;
 	float: left;
	font-family: 'EB Garamond', serif;
	padding-top: .25em;
	padding-bottom: .25em;
	margin-bottom: 2em;
}
.accommodation-address {
	width: 40%;
    	float: left;
	font-style: italic;
	padding-top: .25em;
	padding-bottom: .25em;
}

a.footerlink:link {
	text-decoration: none;
	color: #040129;
}
